In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
titles = pd.read_csv('titles.csv')
release_dates = pd.read_csv('release_dates.csv')
cast = pd.read_csv('cast.csv')

In [3]:
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

In [4]:
release_dates.head()

                    title  year      country        date
0   #73, Shaanthi Nivaasa  2007        India  2007-06-15
1                   #BKKY  2016     Cambodia  2017-10-12
2                 #Beings  2015      Romania  2015-01-29
3               #Captured  2017          USA  2017-09-05
4  #Ewankosau saranghaeyo  2015  Philippines  2015-01-21

In [5]:
release_dates.isna().sum()

title      0
year       0
country    0
date       0
dtype: int64

In [6]:
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [7]:
cast.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   title      1048575 non-null  object
 1   year       1048575 non-null  int64
 2   name       1048575 non-null  object
 3   type       1048575 non-null  object
 4   character  1048575 non-null  object
 5   n          638236 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 48.0+ MB

In [8]:
cast1 = cast[cast['n'].isnull()].fillna('NA')

### How many movies are listed in the titles dataframe?

In [9]:
print('No of movies are:',titles.shape[0])

No of movies are: 244914

### What are the earliest two films listed in the titles dataframe?

In [10]:
print('Earliest two films are:\n',titles['year'].head(2))

Earliest two films are:
 0    1996
1    1994
Name: year, dtype: int64

### How many movies have the title "Hamlet"?

In [11]:
t = titles[titles['title'] == 'Hamlet'].shape[0]
print('No of movies with title Hamlet are:',t)

No of movies with title Hamlet are: 20

### How many movies are titled "North by Northwest"?

In [12]:
t = titles[titles['title'] == 'North by Northwest'].shape[0]
print('No of movies with title North by Northwest are:',t)

No of movies with title North by Northwest are: 1

### When was the first movie titled "Hamlet" made?

In [13]:
t = titles[titles['title'] == 'Hamlet']
t = t['year'].min()
print('First movie with title Hamlet is:',t)

First movie with title Hamlet is: 1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [14]:
t1 = titles[titles['title'] == 'Treasure Island']
t1 = t1.sort_values('year')
print('Sequence wise listed:\n',t1)

Sequence wise listed:
                   title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [15]:
t2 = titles[titles['year'] == 1950].shape[0]
print('No of movies were made in 1950 are:',t2)

No of movies were made in 1950 are: 1113

### How many movies were made in the year 1960?

In [16]:
t3 = titles[titles['year'] == 1960].shape[0]
print('No of movies were made in 1960 are:',t3)

No of movies were made in 1960 are: 1549

### How many movies were made from 1950 through 1959?

In [17]:
t4 = titles[(titles['year'] >= 1950) & (titles['year'] <= 1959)]
print('No of movies were made between 1950 to 1959 are:',len(t4))

No of movies were made between 1950 to 1959 are: 12934

### In what years has a movie titled "Batman" been released?

In [18]:
t5 = titles[titles['title'] == 'Batman']
print(t5)

         title  year
39349   Batman  1943
240896  Batman  1989

### How many roles were there in the movie "Inception"?

In [19]:
cast_inception = cast[cast['title'] == 'Inception'].shape[0]
print('No of roles in Inception are:',cast_inception)

No of roles in Inception are: 28

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [20]:
cast_inception_Notranked = cast1[cast1['title'] == 'Inception'].shape[0]
print('No of roles not ranked by "n" value are:',cast_inception_Notranked)

No of roles not ranked by "n" value are: 9

### But how many roles in the movie "Inception" did receive an "n" value?

In [21]:
print('No of roles who received an "n" value',cast_inception-cast_inception_Notranked)

No of roles who received an "n" value 19

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [22]:
cast_north = cast[(cast['title'] == 'North by Northwest')& (cast['n'].notnull())].sort_values('n')
cast_north

,title,year,name,type,character,n
871426,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
665768,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
464736,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
206471,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [23]:
cast_sleuth = cast[cast['title'] == 'Sleuth']
cast_sleuth[(cast_sleuth['year'] == 1972) & (cast_sleuth['n'].notnull())].sort_values('n')

         title  year            name   type          character    n
326773  Sleuth  1972   Michael Caine  actor        Milo Tindle  2.0
373876  Sleuth  1972  Alec Cawthorne  actor  Inspector Doppler  3.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [24]:
cast_sleuth[(cast_sleuth['year'] == 2007) & (cast_sleuth['n'].notnull())].sort_values('n')

         title  year           name   type character    n
326774  Sleuth  2007  Michael Caine  actor    Andrew  1.0

### How many roles were credited in the silent 1921 version of Hamlet?

In [25]:
cast_hamlet = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1921)]
print(f'{len(cast_hamlet)} roles credited in the silent 1921 version of Hamlet')

3 roles credited in the silent 1921 version of Hamlet

### How many roles were credited in Branagh’s 1996 Hamlet?

In [26]:
cast_hamlet_brangh = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1996)]
print(f"{len(cast_hamlet_brangh)} roles credited in Branagh's 1996 Hamlet")

22 roles credited in Branagh's 1996 Hamlet

### How many "Hamlet" roles have been listed in all film credits through history?

In [27]:
cast_hamlet_role = cast[(cast['title'] == 'Hamlet') & (cast['character'] == 'Hamlet')]
print(f"{len(cast_hamlet_role)} Hamlet roles have listed in all films")

7 Hamlet roles have listed in all films

### How many people have played an "Ophelia"?

In [28]:
ophelia = cast[cast['character'] == 'Ophelia']
print('{} people played ophelia'.format(len(ophelia)))

4 people played ophelia

### How many people have played a role called "The Dude"?

In [29]:
dude = cast[cast['character'] == 'The Dude']
print('{} people played The Dude'.format(len(dude)))

7 people played The Dude

### How many people have played a role called "The Stranger"?

In [30]:
stranger = cast[cast['character'] == 'The Stranger']
print('{} people played The Stranger'.format(len(stranger)))

84 people played The Stranger

### How many roles has Sidney Poitier played throughout his career?

In [31]:
sidney = len(cast[cast['name'] == 'Sidney Poitier'].character)
print('{} roles played by Sidney Poitier'.format(sidney))

0 roles played by Sidney Poitier

### How many roles has Judi Dench played?

In [32]:
judi = len(cast[cast['name'] == 'Judi Dench'].character)
print('{} roles played by Judi Dench'.format(judi))

0 roles played by Judi Dench

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [33]:
cary = cast[(cast['name'] == 'Cary Grant')]
cary_n2 = cary[cary['n'] == 2.0]
cary_n2[(cary_n2['year'] >= 1940) & (cary_n2['year']<= 1950)]

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [34]:
cary_n1 = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 1.0)]
cary_n1[(cary_n1['year'] >= 1940) & (cary_n1['year']<= 1950)]

,title,year,name,type,character,n
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871396,Crisis,1950,Cary Grant,actor,Dr. Eugene Norland Ferguson,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0

### How many roles were available for actors in the 1950s?

In [35]:
roles_a_1950 = cast[(cast['type'] == 'actor') & (cast['year'] >= 1950) & (cast['year'] <= 1960)]
print(f"{len(roles_a_1950)} roles were available for actors in the 1950's")

72307 roles were available for actors in the 1950's

### How many roles were available for actresses in the 1950s?

In [36]:
roles_ac_1950 = cast[(cast['type'] == 'actress') & (cast['year'] >= 1950) & (cast['year'] <= 1960)]
print(f"{len(roles_ac_1950)} roles were available for actresses in the 1950's")

0 roles were available for actresses in the 1950's

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [37]:
role_n1 = cast[(cast['n'] == 1.0) & (cast['year'] <=1980)].sort_values('n')
print(f"{len(role_n1)} leading roles were available")

18588 leading roles were available

### How many non-leading roles were available through from the beginning of film history through 1980?

In [38]:
role_n = cast[(cast['n'] != 1.0) & (cast['year'] <=1980)].sort_values('n')
print(f"{len(role_n)} non-leading roles were available")

346128 non-leading roles were available

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [39]:
role = cast[(cast['n'].notnull()) & (cast['year'] <=1980)].sort_values('n')
print(f"{len(role)} roles through 1980 were that they didn't want a numeric rank")

215990 roles through 1980 were that they didn't want a numeric rank