In [1]:
import numpy as np
import pandas as pd
from scipy.stats import *

In [2]:
df = pd.read_csv('general_data.csv')
df.Attrition.replace(('Yes', 'No'), (1, 0), inplace=True)
df_sorted = df.dropna()

In [3]:
df_sorted

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,29,0,Travel_Rarely,Sales,4,3,Other,1,4405,Female,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,42,0,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,0,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,0,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,0,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8

In [4]:
df_1 = df_sorted[df_sorted['Attrition'] == 1]
df_2 = df_sorted[df_sorted['Attrition'] == 0]

### By looking at the dataset we can perform only 2 tests Mann-Whitney test and Chi Square test. Because attrition column have only two values Yes and No. So they can be two independent variable or they can be categorical variable.

In [5]:
def checkhypo(p):
    if p < 0.05:
        print('p = ',p)
        print('Reject the H0 hypothesis')
    else:
        print('p = ',p)
        print('Accept the H0 hypothesis')

# Hypothesis testing using Mann-Whiteny test

## Hypothesis 1: Attrition and Age

#### H0: There is no significant difference in the age of employee who left and who stayed

#### H1: There is significant difference in the age of employee who left and who stayed

In [6]:
stats,p=mannwhitneyu(df_1.Age,df_2.Age)
checkhypo(p)

p =  7.98668614365882e-30
Reject the H0 hypothesis

## Hypothesis 2: Attrition and DistanceFromHome

#### H0: There is no significant difference in the Distance from home of employee who left and who stayed

#### H1: There is significant difference in the Distance from home of employee who left and who stayed

In [7]:
stats,p=mannwhitneyu(df_1.DistanceFromHome,df_2.DistanceFromHome)
checkhypo(p)

p =  0.488538986087403
Accept the H0 hypothesis

## Hypothesis 3: Attrition and MonthlyIncome

#### H0: There is no significant difference in the Montgly Income of employee who left and who stayed

#### H1: There is significant difference in the Montly Income of employee who left and who stayed

In [8]:
stats,p=mannwhitneyu(df_1.MonthlyIncome,df_2.MonthlyIncome)
checkhypo(p)

p =  0.06508807631576838
Accept the H0 hypothesis

## Hypothesis 4: Attrition and PercentSalaryHike

#### H0: There is no significant difference in the PercentSalaryHike of employee who left and who stayed

#### H1: There is significant difference in the PercentSalaryHike of employee who left and who stayed

In [9]:
stats,p=mannwhitneyu(df_1.PercentSalaryHike,df_2.PercentSalaryHike)
checkhypo(p)

p =  0.017810794960084964
Reject the H0 hypothesis

## Hypothesis 5: Attrition and NumCompaniesWorked

#### H0: There is no significant difference in the NumCompaniesWorked of employee who left and who stayed

#### H1: There is significant difference in the NumCompaniesWorked of employee who left and who stayed

In [10]:
stats,p=mannwhitneyu(df_1.NumCompaniesWorked,df_2.NumCompaniesWorked)
checkhypo(p)

p =  0.02793197853866981
Reject the H0 hypothesis

## Hypothesis 6: Attrition and TotalWorkingYears

#### H0: There is no significant difference in the Total Working years of employee who left and who stayed

#### H1: There is significant difference in the Total Working years of employee who left and who stayed

In [11]:
stats,p=mannwhitneyu(df_1.TotalWorkingYears,df_2.TotalWorkingYears)
checkhypo(p)

p =  2.741211827689903e-39
Reject the H0 hypothesis

## Hypothesis 7: Attrition and TrainingTimesLastYear

#### H0: There is no significant difference in the Training Time  of employee who left and who stayed

#### H1: There is significant difference in the Training Time of employee who left and who stayed

In [12]:
stats,p=mannwhitneyu(df_1.TrainingTimesLastYear,df_2.TrainingTimesLastYear)
checkhypo(p)

p =  0.008107344081224082
Reject the H0 hypothesis

## Hypothesis 8: Attrition and YearsAtCompany

#### H0: There is no significant difference in the Years at the company of employee who left and who stayed

#### H1: There is significant difference in the Years at the company of employee who left and who stayed

In [13]:
stats,p=mannwhitneyu(df_1.YearsAtCompany,df_2.YearsAtCompany)
checkhypo(p)

p =  3.3433144809752036e-36
Reject the H0 hypothesis

## Hypothesis 9: Attrition and YearsSinceLastPromotion

#### H0: There is no significant difference in the years since last promotion of employee who left and who stayed

#### H1: There is significant difference in the years since last promotion of employee who left and who stayed

In [14]:
stats,p=mannwhitneyu(df_1.YearsSinceLastPromotion,df_2.YearsSinceLastPromotion)
checkhypo(p)

p =  0.00037904698157957496
Reject the H0 hypothesis

## Hypothesis 10: Attrition and YearsWithCurrManager

#### H0: There is no significant difference in the years with current manager of employee who left and who stayed

#### H1: There is significant difference in the years with current manager of employee who left and who stayed

In [15]:
stats,p=mannwhitneyu(df_1.YearsWithCurrManager,df_2.YearsWithCurrManager)
checkhypo(p)

p =  5.420302388722274e-31
Reject the H0 hypothesis

# Hypothesis testing using Chi Square test

## Hypothesis 1: Attrition and BusinessTravel

#### H0: There is no dependency between attrition and business travel

#### H1: There is dependency between attrition and business travel

In [16]:
chitable_1 = pd.crosstab(df_sorted.Attrition,df_sorted.BusinessTravel)
chitable_1

BusinessTravel  Non-Travel  Travel_Frequently  Travel_Rarely
Attrition
0                      412                621           2644
1                       36                204            465

In [17]:
stats, p, dof, expected=chi2_contingency(chitable_1)
checkhypo(p)

p =  6.07019702736392e-16
Reject the H0 hypothesis

## Hypothesis 2: Attrition and Department

#### H0: There is no dependency between attrition and department

#### H1: There is dependency between attrition and department

In [18]:
chitable_2 = pd.crosstab(df_sorted.Attrition,df_sorted.Department)
chitable_2

Department  Human Resources  Research & Development  Sales
Attrition
0                       132                    2416   1129
1                        55                     449    201

In [19]:
stats, p, dof, expected=chi2_contingency(chitable_2)
checkhypo(p)

p =  2.382970570769315e-06
Reject the H0 hypothesis

## Hypothesis 3: Attrition and Education

#### H0: There is no dependency between attrition and education

#### H1: There is dependency between attrition and education

In [20]:
chitable_3 = pd.crosstab(df_sorted.Attrition,df_sorted.Education)
chitable_3

Education    1    2     3     4    5
Attrition
0          430  683  1438  1003  123
1           78  159   263   185   20

In [21]:
stats, p, dof, expected=chi2_contingency(chitable_3)
checkhypo(p)

p =  0.17963050984273224
Accept the H0 hypothesis

## Hypothesis 4: Attrition and Education Field

#### H0: There is no dependency between attrition and education field

#### H1: There is dependency between attrition and education field

In [22]:
chitable_4 = pd.crosstab(df_sorted.Attrition,df_sorted.EducationField)
chitable_4

EducationField,Human Resources,Life Sciences,Marketing,Medical,Other,Technical Degree
Attrition,,,,,,
0,48,1505,400,1163,214,347
1,32,301,75,222,30,45

In [23]:
stats, p, dof, expected=chi2_contingency(chitable_4)
checkhypo(p)

p =  3.472896220587872e-08
Reject the H0 hypothesis

## Hypothesis 5: Attrition and Gender

#### H0: There is no dependency between attrition and gender

#### H1: There is dependency between attrition and gender

In [24]:
chitable_5 = pd.crosstab(df_sorted.Attrition,df_sorted.Gender)
chitable_5

Gender     Female  Male
Attrition
0            1488  2189
1             268   437

In [25]:
stats, p, dof, expected=chi2_contingency(chitable_5)
checkhypo(p)

p =  0.23966176275638887
Accept the H0 hypothesis

## Hypothesis 6: Attrition and Job Level

#### H0: There is no dependency between attrition and job level

#### H1: There is dependency between attrition and job level

In [26]:
chitable_6 = pd.crosstab(df_sorted.Attrition,df_sorted.JobLevel)
chitable_6

JobLevel      1     2    3    4    5
Attrition
0          1369  1307  555  267  179
1           250   283   96   51   25

In [27]:
stats, p, dof, expected=chi2_contingency(chitable_6)
checkhypo(p)

p =  0.13397290697032432
Accept the H0 hypothesis

## Hypothesis 7: Attrition and Job Role

#### H0: There is no dependency between attrition and job role

#### H1: There is dependency between attrition and job role

In [28]:
chitable_7 = pd.crosstab(df_sorted.Attrition,df_sorted.JobRole)
chitable_7

JobRole,Healthcare Representative,Human Resources,Laboratory Technician,Manager,Manufacturing Director,Research Director,Research Scientist,Sales Executive,Sales Representative
Attrition,,,,,,,,,
0,333,135,648,263,381,183,714,810,210
1,56,21,125,42,48,54,158,165,36

In [29]:
stats, p, dof, expected=chi2_contingency(chitable_7)
checkhypo(p)

p =  0.005116592717526599
Reject the H0 hypothesis

## Hypothesis 8: Attrition and Marital Status

#### H0: There is no dependency between attrition and marital status

#### H1: There is dependency between attrition and marital status

In [30]:
chitable_8 = pd.crosstab(df_sorted.Attrition,df_sorted.MaritalStatus)
chitable_8

MaritalStatus  Divorced  Married  Single
Attrition
0                   872     1756    1049
1                    98      251     356

In [31]:
stats, p, dof, expected=chi2_contingency(chitable_8)
checkhypo(p)

p =  8.573051828219379e-30
Reject the H0 hypothesis

## Hypothesis 9: Attrition and Stock Option Level

#### H0: There is no dependency between attrition and stock option level

#### H1: There is dependency between attrition and stock option level

In [32]:
chitable_9 = pd.crosstab(df_sorted.Attrition,df_sorted.StockOptionLevel)
chitable_9

StockOptionLevel     0     1    2    3
Attrition
0                 1564  1509  388  216
1                  316   267   84   38

In [33]:
stats, p, dof, expected=chi2_contingency(chitable_9)
checkhypo(p)

p =  0.32799207189761653
Accept the H0 hypothesis